{
  "openapi": "3.0.3",
  "info": {
    "title": "Blue Credit API",
    "description": "API REST da Blue Credit API para consultas cadastrais, veiculares, protestos, score e dívidas. Use HTTP-API-KEY no header para autenticação. Cada consulta debita o saldo pré-pago conforme o preço da integração.",
    "version": "19.0.1.0.0",
    "contact": {
      "name": "Conexão Azul - Suporte Blue Credit",
      "email": "ola@conexaoazul.com",
      "url": "https://conexaoazul.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://conexaoazul.com"
    }
  },
  "servers": [
    {
      "url": "https://api.conexaoazul.com/api/v1",
      "description": "Produção (consultas)"
    },
    {
      "url": "https://api-hml.conexaoazul.com/api/v1",
      "description": "Homologação"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/credit/integrations": {
      "get": {
        "summary": "Listar integrações disponíveis",
        "description": "Retorna todas as integrações de consulta disponíveis, com categoria, tipo de documento aceito e preços (nível 1 e 2).",
        "tags": [
          "Integrações"
        ],
        "operationId": "listIntegrations",
        "responses": {
          "200": {
            "description": "Lista de integrações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  },
                  "example": [
                    {
                      "code": "cnpj_completo",
                      "name": "CNPJ Completo",
                      "category": "cadastral",
                      "document_type": "cnpj",
                      "document_param_name": "cnpj",
                      "price_nivel_1": 0.105,
                      "price_nivel_2": 0.06
                    },
                    {
                      "code": "cpf_simples",
                      "name": "CPF Simples",
                      "category": "cadastral",
                      "document_type": "cpf",
                      "document_param_name": "cpf",
                      "price_nivel_1": 0.165,
                      "price_nivel_2": 0.09
                    },
                    {
                      "code": "fipe",
                      "name": "Fipe",
                      "category": "veicular",
                      "document_type": "placa",
                      "document_param_name": "placa",
                      "price_nivel_1": 0.18,
                      "price_nivel_2": 0.12
                    },
                    {
                      "code": "cenprot_v2",
                      "name": "CENPROT V2",
                      "category": "protestos",
                      "document_type": "both",
                      "document_param_name": "document",
                      "price_nivel_1": 0.66,
                      "price_nivel_2": 0.495
                    },
                    {
                      "code": "ic-cpf-completo",
                      "name": "IC CPF Completo",
                      "category": "cadastral",
                      "document_type": "both",
                      "document_param_name": "cpf",
                      "price_nivel_1": 1.21,
                      "price_nivel_2": 0.66
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/credit/query": {
      "post": {
        "summary": "Executar consulta de crédito",
        "description": "Executa uma consulta na integração informada. O custo é debitado automaticamente do saldo do parceiro. O campo document deve conter o CPF, CNPJ, placa ou nome conforme a integração.",
        "tags": [
          "Consultas"
        ],
        "operationId": "creditQuery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              },
              "examples": {
                "cnpj_completo": {
                  "summary": "CNPJ Completo",
                  "value": {
                    "integration_code": "cnpj_completo",
                    "document": "11222333000181"
                  }
                },
                "cpf_simples": {
                  "summary": "CPF Simples",
                  "value": {
                    "integration_code": "cpf_simples",
                    "document": "00000000191"
                  }
                },
                "fipe": {
                  "summary": "Tabela FIPE",
                  "value": {
                    "integration_code": "fipe",
                    "document": "ABC1234"
                  }
                },
                "cenprot_v2": {
                  "summary": "Protestos CENPROT",
                  "value": {
                    "integration_code": "cenprot_v2",
                    "document": "00000000191"
                  }
                },
                "ic-cpf-completo": {
                  "summary": "IC CPF Completo",
                  "value": {
                    "integration_code": "ic-cpf-completo",
                    "document": "00000000191"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta executada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Saldo insuficiente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Saldo insuficiente"
                }
              }
            }
          },
          "404": {
            "description": "Integração não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Integração não encontrada"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "HTTP-API-KEY",
        "description": "Chave de API pré-cadastrada. Exemplo: DEMO-KEY-LINCSAT-2026"
      }
    },
    "schemas": {
      "Integration": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Código único da integração",
            "example": "cnpj_completo"
          },
          "name": {
            "type": "string",
            "description": "Nome legível da integração",
            "example": "CNPJ Completo"
          },
          "category": {
            "type": "string",
            "description": "Categoria",
            "example": "cadastral"
          },
          "document_type": {
            "type": "string",
            "description": "Tipo de documento aceito (cpf, cnpj, placa, both, name)",
            "example": "cnpj"
          },
          "document_param_name": {
            "type": "string",
            "description": "Nome do parâmetro de documento esperado no body",
            "example": "cnpj"
          },
          "price_nivel_1": {
            "type": "number",
            "description": "Preço nível 1 (R$ por consulta)",
            "example": 0.105
          },
          "price_nivel_2": {
            "type": "number",
            "description": "Preço nível 2 (R$ por consulta, volume)",
            "example": 0.06
          }
        },
        "required": [
          "code",
          "name",
          "category",
          "document_type",
          "document_param_name",
          "price_nivel_1",
          "price_nivel_2"
        ]
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "integration_code": {
            "type": "string",
            "description": "Código da integração (obtido em /credit/integrations)",
            "example": "cnpj_completo"
          },
          "document": {
            "type": "string",
            "description": "Documento a consultar (CPF, CNPJ, placa ou nome)",
            "example": "11222333000181"
          }
        },
        "required": [
          "integration_code",
          "document"
        ]
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ],
            "example": "success"
          },
          "data": {
            "type": "object",
            "description": "Payload retornado pela integração (estrutura varia por provider)"
          },
          "aux": {
            "type": "array",
            "description": "Dados auxiliares (ex: PDF em base64)"
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Mensagem de erro da integração, se houver"
          },
          "cost": {
            "type": "number",
            "description": "Custo debitado pela consulta (R$)",
            "example": 0.105
          }
        },
        "example": {
          "status": "success",
          "data": {
            "status": "sucesso",
            "dados": {
              "cpf": "00000000191",
              "nome": "RECEITA FEDERAL PARA USO DO SISTEMA",
              "situacaoRFB": "INVALID DOCUMENT"
            }
          },
          "aux": [],
          "error": null,
          "cost": 0.165
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Mensagem de erro"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Chave de API ausente ou inválida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "detail": "Not authenticated"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Payload inválido",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "detail": [
                {
                  "loc": [
                    "body",
                    "document"
                  ],
                  "msg": "field required",
                  "type": "value_error.missing"
                }
              ]
            }
          }
        }
      },
      "InternalError": {
        "description": "Erro interno",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "detail": "Internal server error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Integrações",
      "description": "Catálogo de integrações disponíveis e preços"
    },
    {
      "name": "Consultas",
      "description": "Execução de consultas e débito de saldo"
    }
  ]
}